body {
  margin: 0;
  margin-top: 10px;
  font-family: 'Oldenburg', arial, sans-serif;
/*  background: #fafafa url('github-psd-icon.jpg');
  background-repeat: no-repeat;*/
  vertical-align: baseline;
  outline: none;

}

.container {
  /*opacity: 0.4;*/
  background: #fafafa url('github-psd-icon.jpg');
  background-repeat: no-repeat;
  height:500px;
  width: 600px;
  box-shadow: 1px 2px 3px -1px rgba(0,0,0,0.4);
  border-radius: 4px;
}

.navigation {
  width: 100%;
  height: 50px;
  background-color: #eee;
  margin: 0;
  padding: 0;
}

.navigation-header {
  text-align: center; 
}

.navigation a {
  display: inline;
  text-decoration: none;
  color: white;
  
}

.navigation li {
  display: inline;
  margin: 20px 5px 5px 5px;
  padding: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: #3673af;

  
}
.navigation-header {
}

.home {
  text-align: center;
  margin : auto;
  background: url('github-psd-icon.jpg');
  background-repeat: no-repeat;
  height: 600px;
  opacity: 0.8;
  background-position: center;
}

.home form {
  /*height: 200px;*/
}

.home input {
  font-size: 15px;
  width: 400px;
  height: 30px;
}

.submitButton {
  display: inline-block;
  padding: 8px 18px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #3673AF;
}

table { 
  border-collapse:collapse; 
}
table, th, td { 
  border: 1px solid black; 
}

th, td { 

  padding: 5px; 
}
tr:hover {
  background-color: #f5f5f5
}

.githubProfile {
  width: 80px;
  height: 80px;
}

.searchDirectory {
  margin-bottom: 40px;
}
.searchDirectory input {
  height:20px;
  width: 400px;
  font: 'arial';
}

