<h3>Getting the Data from MongoDB </h3>
<br>

<div class="searchDirectory">Search for your Github Friends
<input name='search' type="text" ng-model="searchGithubUser"/></div>


<table id="githubDisplayResults">
      <thead>
        <tr>
          <th>Image</th>
          <th>Full Name</th>
          <th>Blog</th>
          <th>Followers</th>
          <th>Following</th>
          <th>location</th>
          <th>Recently Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in data | filter: searchGithubUser">
          <td><img class="githubProfile" src="{{ user.image }}"></td>
          <td> {{ user.name }} </td>
          <td><a href="{{ user.blog }}" target="_blank">Check Out Ma Blog</a></td>
          <td> {{ user.followers }} </td>
          <td> {{ user.following }} </td>
          <td> {{ user.location }}  </td>
          <td> {{ user.updated_at }}  </td>
        </tr>
  </tbody>
</table>


