
  
<!-- <h4>Forecast by City</h4>
<div class="form-group">
  <input type="text" class="form-control" ng-model="city"/>
</div>
<a href="#/forecast" class="submitButton">Get Forecast</a> -->


<div class="home">
  <hr/>

  <h4>Github Account</h4>

    <form>
      <input type="text" class="" ng-model="githubUser" placeholder="Github username"/>
<!--       <input type="submit" ng-click="postUser(githubUser)" value="Save"/> -->
    </form>

  <a href="#/github" class="submitButton">Pull Github</a>
</div>