<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <!-- <h4>Forecast by City</h4>
        <div class="form-group">
          <input type="text" class="form-control" ng-model="city"/>
        </div>
        <a href="#/forecast" class="submitButton">Get Forecast</a> -->
        
        <hr/>

        <h4>Github Account</h4>
        <div class="">
          <form>
            <input type="text" class="" ng-model="githubUser" placeholder="Github username"/>
            <input type="submit" ng-click="postUser(githubUser)" value="Save"/>
          </form>
        </div>
        <a href="#/github" class="submitButton">Pull Github</a>
  </div>
</div>  